<h1>
  Teaching Assistant
</h1>
<h2>
  Alunos
</h2>
<table>
  <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" ></td>
  </tr>
  <tr>
    <td><label>CPF </label></td>
    <td><input [(ngModel)]="aluno.cpf" ></td>
  </tr>
  <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" ></td>
  </tr>
  <tr>
    <td><label>Github </label></td>
    <td><input [(ngModel)]="aluno.git" ></td>
  </tr>
  <tr>
    <td><button (click)="create(aluno)">Adicionar</button></td>
  </tr>
</table>

<table class=alunos-list *ngIf="alunos.length > 0">
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>email</th>
    <th>Github</th>
  </tr>

  <tr *ngFor="let a of alunos">
    <td>{{a.nome}}</td>
    <td>{{a.cpf}}</td>
    <td>{{a.email}}</td>
    <td>{{a.git}}</td>
  </tr>
</table>