<h1>
  Teaching Assistant
</h1>
<h2>
  Alunos
</h2>
<table>
  <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" ></td>
    <td><button (click)="create(aluno)">Adicionar</button></td>
  </tr>
  <tr>
    <td><label>CPF </label></td>
    <td><input [(ngModel)]="aluno.cpf" ></td>
  </tr>
  <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" ></td>
  </tr>
  <tr>
    <td><label>git </label></td>
    <td><input [(ngModel)]="aluno.git" ></td>
  </tr>
</table>

<ul class="alunos-list">
  <li *ngFor="let a of alunos">
    <span>{{a.nome}}</span>,
    <span>{{a.cpf}}</span>,
    <span>{{a.email}}</span>,
    <span>{{a.git}}</span>
  </li>
</ul>